body {
    padding-top: 20px;
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
}

::-webkit-input-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    font-size: 12px;
}

:-moz-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.3px;
    font-size: 12px;
}

::-moz-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    letter-spacing: 0.3px;
    font-size: 12px;
}

:-ms-input-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    letter-spacing: 0.3px;
    font-size: 12px;
}

*::selection {
    background: orange;
    color: white;
}

p,
span {
    font-size: 18px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

a {
    color: #3b99fc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

textarea {
    font-family: inherit;
    font-size: inherit;
}

input[type="text"],
textarea {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.selection-container {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 23px 0px 23px;
}

.img-title {
    text-align: center;
    width: 70%;
    line-height: 1.25em;
}

.div-aligner {
    height: 0;
    width: 200px;
}

form {
    margin: 0 auto !important;
}

.heading {
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.heading-icon {
    width: 100px;
    height: 100px;
    margin-right: 25px;
}

.tool-icon {
    width: 150px;
    height: 150px;
}

.instructions {
    margin-bottom: 50px;
    line-height: 1.5;
}

.form-field-container {
    margin-bottom: 30px;
}

.form-field {
    font-size: 0.8em;
}

.field-name {
    color: orange;
    font-weight: 700;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.form-field-spacer {
    width: 30%;
    text-align: center
}

.width-100 {
    width: 100% !important;
}

.width-50-50 {
    display: flex;
}

.width-50-50>div {
    width: 50%;
}

.required {
    color: red;
}

.hide {
    display: none;
}

#generate-reset {
    display: flex;
    justify-content: center;
}

#generator {
    margin: 0px 25px;
    width: 140px;
    border: none;
    border-radius: 4px;
    background-color: orange;
    color: white;
    padding: 10px 32px;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#reset {
    margin: 0px 25px;
    width: 140px;
    border: none;
    border-radius: 4px;
    color: white;
    background: gray;
    padding: 10px 32px;
    font-size: 1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#generate-reset input:hover {
    cursor: pointer;
}

#results {
    display: none;
    margin: 50px 0;
}

.output-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.results-padding {
    margin-bottom: 40px;
}

pre {
    background-color: #eee;
    color: darkgreen;
    text-align: center;
    font-family: SF Mono, inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 15px 0;
}

.output-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}

.output-icon {
    height: 18px;
    cursor: pointer;
    margin: auto 5px;
}

.back {
    position: relative;
    font-size: .8em;
    font-weight: 300;
    transform: translate(-50%, -50%);
}

.footer {
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    margin: 0 auto;
    font-size: 0.95em;
}

#dimensions {
    display: flex;
    justify-content: space-between;
}

#event-date {
    display: none;
    justify-content: space-between;
}

.date {
    display: flex;
    justify-content: space-between;
}

#image-url-output {
    max-width: 100%;
}

footer {
    text-align: center;
    font-size: 13px;
    padding: 30px;
}
