* {
  box-sizing: border-box;
}

html {
  background: url(assets/backgrounds/1901x1333-norway.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
}

nav * {
  display: flex;
  flex-flow: row nowrap;  text-decoration: none;
  text-transform: uppercase;
}
