@media (min-width: 814px) {
  .hamburger {
    display: none !important;
  }
}

@media (max-width: 813px) {
  nav {
    justify-content: flex-end !important;
  }
  .nav-item {
    display: none;
  }
  .logo-container {
    max-width: 66%;
  }
  .resume-item {
    flex-wrap: wrap;
  }
  .resume-item-city-date {
    flex-direction: column !important;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 33px auto 0 auto;
  max-width: 1000px;
  width: 80%;
}

h1 {
  font-size: 60px;
  margin: 100px auto 50px auto;
}

h2 {
  margin: 0;
  font-weight: 200;
  letter-spacing: 2px;
}

h4 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-item {
  color: black;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 4px;
  margin: auto 3%;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:hover, .burger-item:hover {
  opacity: 0.7;
}

.logo-container {
  position: relative;
  z-index: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 275px;
  height: calc(80vh - 33px);
}

.logo {
  cursor: pointer;
  max-width: 100%;
  max-height: 60vh;
}

.resume-container {
  display: flex;
  flex-direction: column;
}

.resume-item {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}

.resume-item-logo {
  align-self: center;
  width: 150px;
  margin-right: 50px;
}

.resume-item-title {
  margin: 15px auto;
}

.resume-item-city-date {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}

.resume-item-description>li {
  margin-bottom: 15px;
}