@media screen and (min-width: 814px) {
  .hamburger {
    display: none !important;
  }
}

@media only screen and (max-width: 813px) {
  nav {
    justify-content: flex-end !important;
  }
  .nav-item {
    display: none;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background-size: cover;
  box-sizing: border-box;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SFNSText", "Roboto", '.HelveticaNeueDeskInterface-Light', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  margin: 33px auto 0 auto;
  max-width: 1000px;
  width: 80%;
}

nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.nav-item {
  color: white;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 4px;
  margin: auto 3%;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:hover {
  opacity: 0.75;
}

.logo-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: auto;
}

.logo {
  cursor: pointer;
  width: 40%;
}